body{
    background-color: bisque;
}
.boton{
    width: 90px;
    padding: 5px;
    height: 45px;
    margin-top: 80px;
    border-radius: 20px;
    font-family: cursive;
    font-size: 15px;
    box-shadow: 1px 2px 4px 2px ;
    cursor: pointer;
    background-color: rgb(239, 241, 243);
}
.boton:hover{
    color: #8888
}